//
//  MockDuck.xcconfig
//  MockDuck
//
//  Created by Sebastian Celis on 9/6/18.
//  Copyright © 2018 BuzzFeed, Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SUPPORTED_PLATFORMS = iphonesimulator iphoneos appletvsimulator appletvos
VALID_ARCHS = arm64 armv7 armv7s

IPHONEOS_DEPLOYMENT_TARGET = 10.0
TVOS_DEPLOYMENT_TARGET = 10.0

TARGETED_DEVICE_FAMILY[sdk=iphonesimulator*] = 1,2
TARGETED_DEVICE_FAMILY[sdk=iphone*] = 1,2
TARGETED_DEVICE_FAMILY[sdk=appletvsimulator*] = 3
TARGETED_DEVICE_FAMILY[sdk=appletv*] = 3
